@import 'tailwindcss';

@supports (view-transition-name: none) {
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
  }

  ::view-transition-group(image-translate) {
    animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    animation-duration: 0.75s;
    z-index: 1;
  }
}

.review {
  display: grid;
  max-width: 400px;
  gap: 0.5rem 1rem;
  grid-template-areas:
    'image username username'
    'comment comment comment'
    'comment comment comment';
  grid-template-columns: 3rem 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);

  .review__image {
    grid-area: image;
  }

  .review__username {
    grid-area: username;
  }

  .review__comment {
    grid-area: comment;
  }
}
